@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Roboto&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin-bottom: 200px;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
}

.nav,
.menu__left,
.menu__center,
.order__btn {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.menu__left {
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  max-width: 466px;
  width: 100%;
}
.menu__left .logo {
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  width: 104px;
  background: linear-gradient(180deg, #1456c5 0%, #002d79 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__left .slogan {
  width: 322px;
  color: var(--dark-purple, #06002b);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  text-align: left;
}

.menu__center {
  max-width: 437px;
  width: 100%;
  color: var(--dark-purple, #06002b);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  line-height: 140%;
  justify-content: space-between;
}
.menu__center a {
  font-weight: 300;
}

.order__btn {
  padding: 0 20px;
  justify-content: space-between;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--dark-purple, #06002b);
  transition: 0.3s all;
}
.order__btn span {
  color: var(--dark-purple, #06002b);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.order__btn .basket__img {
  margin-left: 10px;
  background: url(../img/busket.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.order__btn:hover {
  background: #057ea5;
}
.order__btn:hover span {
  color: var(--white, #fff);
}
.order__btn:hover .basket__img {
  background: url(../img/busket_active.svg);
}
.order__btn:active {
  background: var(--dark-purple, #06002b);
}
.order__btn:active span {
  color: var(--white, #fff);
}
.order__btn:active .basket__img {
  background: url(../img/busket_active.svg);
}

/* Гамбургер*/
#hamburger__menu {
  display: none;
  z-index: 1000;
  position: absolute;
}

#menu__toggle {
  opacity: 0;
}

#menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 13px;
  right: 18px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

#menu__btn > span::before {
  content: "";
  top: -8px;
}

#menu__btn > span::after {
  content: "";
  top: 8px;
}

#menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 65px 0 0 46px;
  list-style: none;
  text-align: start;
  background: rgba(255, 255, 255, 0.93);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  color: var(--dark-purple, #06002b);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

/* элементы меню */
.menu__item {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

#menu__box > :not(:first-child) {
  margin-top: 40px;
}

#menu__toggle {
  position: fixed;
}

#menu__toggle:checked ~ #menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ #menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ #menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ #menu__box {
  visibility: visible;
  left: 0;
}

#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  transition-duration: 0.25s;
}

#menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

/* Гамбургер окончание */
@media (max-width: 1199px) {
  #hamburger__menu {
    display: block;
  }
  .menu__center,
  .order__btn {
    display: none;
  }
  .slogan {
    margin-right: 10px;
  }
}
@media (max-width: 499px) {
  .slogan {
    display: none;
  }
}
.main__title {
  max-width: 481px;
  margin-top: 130px;
}
.main__title h3 {
  color: var(--dark-purple, #06002b);
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.42;
}
.main__title h3 span {
  color: #e53125;
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 34px;
}
.main__title h1 {
  color: var(--dark-purple, #06002b);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.main__title .ordernow__btn {
  margin: 50px 0 150px;
  padding: 20px 40px;
  border-radius: 5px;
  background: #06002b;
  display: inline-block;
  color: #fff;
  transition: 0.3s all;
}
.main__title .ordernow__btn span {
  margin-right: 10px;
  text-transform: uppercase;
}
.main__title .ordernow__btn:hover {
  background: #057ea5;
}
.main__title .ordernow__btn:active {
  background: #06002b;
}

.benefits__box {
  display: flex;
  justify-content: space-between;
}
.benefits__box img {
  margin-top: 10px;
  width: 70px;
  height: 80px;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 140px;
  width: 100%;
}
.benefits__item span {
  color: var(--dark-purple, #06002b);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  margin: 15px 0 10px;
}

.main {
  display: flex;
  width: 1485px;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.main__slider {
  width: 906px;
  margin: 60px 0 0 98px;
  display: flex;
  align-items: end;
  height: 585px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.main__slider .front {
  max-height: 580px;
}

.blur {
  filter: blur(5px);
}

.phone__slide {
  position: absolute;
  width: 331px;
  height: 340px;
  margin-bottom: 5px;
}
.phone__slide img {
  height: 100%;
}
.phone__slide .front {
  position: absolute;
  margin-left: -52.5%;
}

.phone__slide.active {
  max-width: 565px;
  max-height: 580px;
  width: 100%;
  height: 100%;
}
.phone__slide.active img {
  height: 100%;
}

@media (max-width: 1599px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0;
    width: -moz-fit-content;
    width: fit-content;
    float: none;
  }
  .main__title {
    margin-top: 40px;
  }
  .main__title .ordernow__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__slider {
    margin-left: 0;
  }
}
@media (max-width: 940px) {
  .main__slider {
    width: 565px;
  }
  .phone__slide {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .phone__slide img {
    width: 100%;
    max-width: 431px;
    height: auto;
  }
}
@media (max-width: 625px) {
  .main {
    width: 100%;
  }
  .main .back {
    width: 100%;
  }
  .main .front {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  .main__title h3 {
    font-size: 20px;
  }
  .main__title h1 {
    font-size: 40px;
  }
  .main__slider {
    width: 100%;
    max-width: 565px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .phone__slide.active {
    height: -moz-fit-content;
    height: fit-content;
    max-height: none;
    top: 0;
  }
  .phone__slide.active img {
    height: auto;
  }
  .phone__slide .front {
    margin-left: -297px;
  }
  .phone__slide {
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .phone__slide .front {
    height: 100%;
  }
  .phone__slide img {
    max-width: 431px;
  }
}
@media (max-width: 565px) {
  .phone__slide .front {
    margin-left: -52.5%;
  }
  .main .back,
  .main .front {
    width: 76.3%;
  }
  .main__title .ordernow__btn {
    margin-bottom: 50px;
  }
}
@media (max-width: 369px) {
  .benefits__box {
    flex-direction: column;
    align-items: center;
  }
}
.phone__slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.no-visibility {
  visibility: hidden;
}

.no-scroll-mobile {
  overflow-y: hidden;
}

.grabbing {
  cursor: grabbing;
}

.choose__color,
.screen,
.camera {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 10px;
}
.choose__color h2,
.screen h2,
.camera h2 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: normal;
}
.choose__color span,
.screen span,
.camera span {
  color: #06002b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  display: block;
  margin: 30px auto 0;
  max-width: 730px;
}
.choose__color span:nth-of-type(2),
.screen span:nth-of-type(2),
.camera span:nth-of-type(2) {
  margin: 50px auto 0;
}
.choose__color > img,
.screen > img,
.camera > img {
  margin-top: 50px;
  align-self: center;
  width: 1484px;
  height: auto;
}

@media (max-width: 1199px) {
  .choose__color,
  .screen,
  .camera {
    margin-top: 100px;
  }
}
@media (max-width: 775px) {
  .choose__color > img {
    width: 191%;
  }
}
@media (max-width: 1359px) {
  .screen > img {
    width: 109%;
  }
}
.camera img {
  width: 1160px;
  height: 855px;
}

@media (max-width: 1199px) {
  .camera {
    margin-top: 50px;
  }
  .camera img {
    width: 96.7%;
    height: auto;
  }
}
.step__ahead {
  margin-top: 200px;
}
.step__ahead h2 {
  color: var(--dark-purple, #06002B);
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
}

.processor__and__memory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
  color: var(--dark-purple, #06002B);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.processor__and__memory img {
  width: 365px;
  height: auto;
  grid-row: 1/3;
  max-width: 100%;
}
.processor__and__memory .memory__foto {
  grid-column: 3;
  justify-self: end;
}
.processor__and__memory h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}
.processor__and__memory h3,
.processor__and__memory span {
  display: inline-block;
}
.processor__and__memory span {
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .step__ahead {
    margin-top: 100px;
  }
  .processor__and__memory {
    grid-template-columns: 1fr;
  }
  .processor__and__memory > * {
    grid-column: 1;
    justify-self: center;
    max-width: 365px;
  }
  .processor__and__memory .processor__foto {
    grid-row: 2;
  }
  .processor__and__memory .processor__description {
    grid-row: 1;
  }
  .processor__and__memory .memory__foto {
    grid-row: 4;
    grid-column: 1;
    justify-self: center;
  }
  .processor__and__memory .memory__description {
    grid-row: 3;
  }
  .processor__and__memory img {
    margin: 20px 0;
  }
}/*# sourceMappingURL=main.css.map */